<main>
  <div class="form-wrapper">
    <h1><%= title %></h1>

    <% if (errors) { %>
      <ul class="notice">
        <% errors.array().forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <% if (message && message.length > 0) { %>
      <div class="flash-message">
        <%= message[0] %>
      </div>
    <% } %>

    <p>Confirm Deletion - The delete is permanent.</p>

    <form id = "deleteForm" action="/inv/delete" method="post">
      <input type="hidden" name="inv_id" value="<%= inv_id %>">

      <label for="inv_make">Make</label>
      <input type="text" id="inv_make" value="<%= inv_make %>" readonly>

      <label for="inv_model">Model</label>
      <input type="text" id="inv_model" value="<%= inv_model %>" readonly>

      <label for="inv_year">Year</label>
      <input type="text" id="inv_year" value="<%= inv_year %>" readonly>

      <label for="inv_price">Price</label>
      <input type="text" id="inv_price" value="<%= inv_price %>" readonly>

      <button type="submit">Delete Vehicle</button>
    </form>
  </div>
</main>
